@using OilsPro.Web.Models.ViewModels
@using OilsPro.Web.ViewComponents
@model OilsPro.Web.Models.ViewModels.Receiver.EditReceiverViewModel

<h1 class="text-center suls-text-color">Edit Receiver</h1>
<form asp-controller="Receivers" asp-action="Edit"asp-route-id="@Model.Id" method="post">

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <br/>
                <div class="button-holder d-flex justify-content-left">
                    <button type="submit">Create new receiver</button>
                </div>
            </div>
            <div class="col-12">
                <br/>
                @(await Component.InvokeAsync<ReceiversAddressesViewComponent>(new {id = Model.Id}))
            </div>
        </div>
    </div>

    <div class="top-border-line primary-separator"></div>
    <div class="button-holder d-flex justify-content-center">
        <a href="/Nomenclatures/Receivers" class="btn btn-warning">Save changes</a>
    </div>
</form>



