@{
    ViewData["Title"] = "Home Page";
}
@using OilsPro.Web
<head>
    <style>
        body {background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg') background: 100%}
    </style>
</head>

<body>

</body>

