@model OilsPro.Data.Models.Delivery

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label">Delivery date</label>
                <input  class="form-control" value="@Model.DeliveryDate" name="DeliveryDate"/>
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Name" class="control-label">Supplier name</label>
                <select asp-for="Supplier.Name" class="form-control" asp-items="ViewBag.Suppliers" value="@Model.Supplier.Name" name="SupplierName"></select>
                <span asp-validation-for="Supplier.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lot.SerialNumber" class="control-label">Lot serial number</label>
                <select asp-for="Lot.SerialNumber" class="form-control" asp-items="ViewBag.Lots" value="@Model.Lot.SerialNumber" name="LotSerialNumber" ></select>
                <span asp-validation-for="Lot.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

