@model OilsPro.Data.Models.Driver

@{
    ViewData["Title"] = "CreateNewDriver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateNewDriver</h1>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewDriver" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrierId" class="control-label"></label>
                <select name="carrierName" class="form-control" asp-items="ViewBag.Carriers" id="carrier"></select>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" id="create"/>
            </div>
            <script>
                $("#create").click(function () {
                    var carrierName = $("#carrier").val();
                    if (carrierName === "Choose >>>") {
                        alert("Choose a carrier name, please !");
                    } else {
                        document.getElementById("myForm").submit();
                    }
                });
            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

